
.skill__container {

    .skills__content {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.skill__title {
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

.skill {
    background-color: var(--container--color);
    border: 1px solid rgb(0, 0, 0, 0.1);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    border-radius: 1.25rem;
    text-align: center;

    .skill__area {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .language__icon {
            width: 2.5rem;
        }

        .language__name {
            color: var(--title-color);
            font-size: var(--tiny-font-size);
        }
    }
}

/*============== Brake Points ================*/

@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {
    .skill__section{
        padding-top: 5rem;
    }
    .skill__container {
        .skills__content {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (max-width: 576px) {
     .skill__section{
        padding-top: 15rem;
    }
    .skill__container {
        .skills__content {
            grid-template-columns: repeat(1, 1fr);
            gap: 2rem;
        }
    }
    .skill {
        .skill__area {
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
        }
    }
}
/* For small devices */
@media screen and (max-width: 380px) {
     .skill__section{
        padding-top: 20rem;
    }
}