.about__section{
    max-height:100vh;
}
.about__container {
    max-width: 900px;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);

    .about__img {
        background: url(../../assets/3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        align-self: center;
        width: 350px;
        height: 350px;
        border-radius: 1.5rem;
        position: relative;

        .stamp {
            .stamp-text {
                position: absolute;
                background: var(--body-color);
                width: 10rem;
                bottom: -3.5rem;
                right: -3.5rem;
                border-radius: 50%;
                animation: rotate 8s linear infinite;
            }

            .stamp-img {
                position: absolute;
                width: 5.8rem;
                bottom: -0.2rem;
                right: -1.3rem;
            }

            @keyframes rotate {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }

            }
        }
    }
}

/*================ About Info section ====================*/

.about__content {
    .about__cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .about__box {
            border: 1px solid rgb(0, 0, 0, 0.1);
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            padding: 1rem;
            border-radius: 1rem;
            text-align: center;
            background: var(--container-color);

            .box__icon {
                font-size: larger;
                color: var(--title-color);

            }

            .box__title {
                font-size: var(--small-font-size);
            }

            .box__subtitle {
                font-size: var(--tiny-font-size);
            }
        }
    }

    .about__text {
        .about__para {
            margin: 1.5rem 0;
            font-size: var(--smaller-font-size);
            text-align: justify;
        }
    }
}

/*============== Brake Points ================*/

@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: repeat(1, 1fr);

        .about__img {
            justify-self: center;
            width: 250px;
            height: 250px;

            .stamp {
                display: none;
            }
        }
    }

    .about__content {
        .about__cards {
            grid-template-columns: repeat(3, 1fr);
        }

        .about__text {
            .about__para {
                margin: 1.5rem 0;
                font-size: var(--smaller-font-size);
            }

            .about__button {
                display: flex;
                justify-content: center;
            }
        }

    }
}

@media screen and (max-width: 576px) {}


/* For small devices */
@media screen and (max-width: 380px) {
    .about__content {
        .about__cards {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .about__container {
        .about__img {
            justify-self: center;
            width: 200px;
            height: 200px;
        }
    }
}