.home__section{
    max-height: 100vh;
    margin-bottom: 5rem;
}
.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 10rem;
    align-items: center;
    margin-bottom: 7rem;

    .home__img {
        background: url(../../assets/3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
        order: 1;
        justify-self: center;
        width: 300px;
        height: 300px;
        animation: profile_animate 8s ease-in-out infinite;
    }
}


@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/*================ Social ==================*/

.social-section {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1.5rem;

    .social__icon {
        color: var(--title-color);
        font-size: 1.3rem;
        transition: .3s;
    }

    .social__icon:hover {
        color: var(--title-color-dark);

    }
}

/*================ Home Data Section ==================*/

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: 0.3rem;

    .home__hand {
        width: 38px;
        height: 38px;
        margin-left: 0.25rem;
    }
}

.home__subtitle {
    position: relative;
    font-size: var(--h3-font-size);
    padding-left: 5.4rem;
    font-weight: var(--font-normal);
    margin-bottom: 1rem;
}

.home__subtitle::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 1px;
    background-color: var(--title-color);
    left: 0;
    top: 1rem;
}

.home__para {
    max-width: 400px;
    margin-bottom: 2rem;
}

.home__scroll-button {
    margin-left: 10rem;
    
    .scroll-text, .scroll-arrow{
        font-size: medium;
        font-weight: 400;
        color: var(--title-color);
    }
    .home__scroll-mouse {
        width: 30px;
        height: 30px;
    }
    .wheel{
        animation: scroll_wheel 1s ease-in infinite;
    }
}
@keyframes scroll_wheel {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}


/*======================= BREAKPOINTS ========================*/

@media screen and (max-width:768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 6rem;
        column-gap: 10rem;
        margin: 0px 1rem;
        .home__img {
            box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
            order: initial;
            justify-self: initial;
            width: 250px;
            height: 250px;
        }
    }
    .home__data{
        grid-column: 1/3;
        .home__para{
            max-width: 700px;
        }
    }
    .home__scroll{
        display: none;
    }
}

@media screen and (max-width:576px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 6rem;
        column-gap: 2rem;
        .home__img {
            box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
            order: initial;
            justify-self: initial;
            width: 200px;
            height: 200px;
        }
    }
    .home__data{
        grid-column: 1/3;
    }
}

@media screen and (max-width: 350px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        column-gap: 1rem;
        .home__img {
            box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
            order: initial;
            justify-self: initial;
            width: 180px;
            height: 180px;
        }
    }
    .home__data{
        grid-column: 1/3;
    }
}
