.contact__section {
    max-width: 800px;
    margin: auto;
}

.contact__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    .contact__content {
        .contact__title {
            margin-bottom: 1.5rem;
            text-align: center;
            font-size: var(--large-font-size);
        }

        .contact__cards {

            .contact__box {
                border: 1px solid rgb(0, 0, 0, 0.1);
                box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
                padding: 1rem;
                margin-bottom: 1rem;
                border-radius: 0.5rem;
                text-align: center;
                background: var(--container-color);

                .box-icon {
                    font-size: larger;
                    color: var(--title-color);
                }

                .box__title {
                    font-size: var(--small-font-size);
                }

                .box__subtitle {
                    font-size: var(--tiny-font-size);
                }
            }
        }
    }

    .message__section {
        .message__title {
            text-align: center;
            font-size: var(--large-font-size);
            margin-bottom: 1.5rem;
        }

        .name-sec {
            position: relative;
            margin-bottom: 2rem;

            .name {
                position: absolute;
                font-size: var(--smaller-font-size);
                font-weight: 400;
                background: var(--body-color);
                padding: 0 5px;
                left: 25px;
                top: -10px;
            }

            .name-box {
                width: 100%;
                height: 4rem;
                border: 1px solid rgb(169, 169, 169);
                border-radius: 1rem;
                padding: 0 1rem;
            }

        }

        .mail-sec {
            position: relative;
            margin-bottom: 2rem;

            .mail {
                position: absolute;
                font-size: var(--smaller-font-size);
                font-weight: 400;
                background: var(--body-color);
                padding: 0 5px;
                left: 25px;
                top: -10px;
            }

            .mail-box {
                width: 100%;
                height: 4rem;
                border: 1px solid rgb(169, 169, 169);
                border-radius: 1rem;
                padding: 0 1rem;
            }
        }

        .message-sec {
            position: relative;
            margin-bottom: 1rem;

            .message {
                position: absolute;
                font-size: var(--smaller-font-size);
                font-weight: 400;
                background: var(--body-color);
                padding: 0 5px;
                left: 25px;
                top: -10px;
            }

            .msg-box {
                width: 100%;
                height: 13rem !important;
                border: 1px solid rgb(169, 169, 169);
                border-radius: 1rem;
                padding: 1rem 1rem;
            }
        }
    }
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {
    .contact__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .contact__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

        .message__section {
            .name-sec {
                .name-box {
                    width: 100%;
                }
            }
            .mail-sec {
                .mail-box {
                    width: 100%;
                }
            }
            .message-sec {
                .msg-box {
                    width: 100% !important;
                }
            }
        }
    }    

}

/* For small devices */
@media screen and (max-width: 350px) {}