.footer__section {
    height: 40vh;
    background-color: var(--container-color);

    .footer__container {
        text-align: center;

        .footer__title {
            font-size: var(--h2-font-size);
            padding-top: 2rem;
        }

        .footer-link {
            margin-top: 1.5rem;
            justify-content: center;
            color: var(--title-color);

            li {
                font-size: var(--small-font-size);
                color: var(--title-color);
                margin: 0 1rem;
                display: flex;

                &:hover {
                    color: var(--title-color-dark);
                }
            }
        }

        .footer-social {
            margin: 1.5rem 0;
            justify-content: center;

            .social-icon {
                font-size: large;
                margin: 0 0.8rem;
                padding: 0.5rem 0.7rem;
                border-radius: 10px;
                color: var(--container-color);
                background: var(--title-color);
                transition: .3s ease-in-out;

                &:hover {
                    background-color: var(--title-color-dark);
                }
            }
        }

        .copyright {
            font-size: var(--smaller-font-size);
        }
    }
}

@media screen and (max-width: 992px) {}

/* For medium devices */
@media screen and (max-width: 768px) {
    .footer__section {
        height: 30vh;
    }
}

@media screen and (max-width: 576px) {
    .footer__section {
        height: 30vh;
        .social-icon {
            margin: 0 0.5rem !important;
        }
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
        .social-icon {
            font-size: small !important;
            margin: 0 0.5rem !important;
        }
    
}